body {
    padding: 10rem;
}

.contenidor {
    border: 1px solid black;
    width: 100%;
    position: relative;
    padding: 1rem;


}


.exercici1 {
    display: flex;
    flex-direction: column;

    gap: 1rem;;


    .contenidor-fill {
        display: flex;
        align-items: flex-start;
        gap: 1rem;


    }

}

.exercici2 {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

    .contenidor-fill {

        width: 50%;
        display: flex;
        flex-direction: column;

        gap: 1rem;

        >div {
            width: 40%;
        }
    }

}

.exercici3 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: flex-start;

    .contenidor-fill {

        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        gap: 1rem;

        >div {
            width: 40%;
        }
    }

}

.exercici4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;

    .caixa2 {
        align-self: flex-start;
    }

}

.exercici5 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;

    .contenidor-fill {

        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        align-items: flex-start;

        gap: 1rem;

    }

}


.exercici6 {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;

    .caixa1 {
        align-self: flex-end;

    }

    .caixa2 {
        align-self: center;
    }

    .caixa3 {
        align-self: flex-start;

    }

}

.caixa1 {
    aspect-ratio: 9/6;
    width: 50%;

    background-color: blue;
    border: 2px solid gray;

}


.caixa2 {
    background-color: yellow;
    width: 20%;

    aspect-ratio: 1/1;
}

.caixa3 {
    background-color:coral;
    border: 1px double black;
    width: 20%;

    aspect-ratio: 1/1;
}